* {
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html, body {
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
}

.container {
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
}

.title {
    font-size: 2rem;
    margin: 1em 0;
    text-align: center;
}

.table {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 0;
    margin-bottom: 2em;
}

.table__header-row,
.table__body-row {
    border-bottom: 1px solid #ccc;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.table__header-row > div,
.table__body-row > div {
    width: 20%;
    padding: 10px;
    border-right: 1px solid #ccc;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
}

.table__body-row:hover {
    background-color: rgb(218, 252, 198);
}

.table__body-row > div:hover {
    background-color: rgb(204, 255, 175);
}

.table__body-row .table__attempts-sort div:hover {
    background-color: rgb(188, 255, 149);
}

.table__header-row div.table__header-place,
.table__body-row div.table__place {
    width: 10%;
}

.table__header div.table__summ,
.table__body div.table__summ {
    width: 10%;
    border-left: 1px solid #ccc;
}

.table__attempts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 !important;
    border-right: 0 !important;
}

.table__header .table__attempts > div:first-child {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.table__body .table__attempts,
.table__body .table__attempts div:last-child {
    border-top: 0;
}

.table__attempts-sort {
    height: 100%;
    padding: 0 !important;
}

.table__attempts .table__attempts-sort div {
    height: 100%;
    /* width: 25%; */
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top: none !important;
    border-right: 1px solid #ccc;
}

.table__attempts div {
    width: 100%;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
}

.table__attempts div:last-child {
    border-top: 1px solid #ccc;
    border-right: 0;
}

.sort-btn:hover {
    background-color: #ccc;
}

.sort-btn {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-right: 1px solid #ccc;
    padding: 10px;
    position: relative;
    cursor: pointer;
    outline: none;
    border: 0;
    background-color: transparent;
}

.sort-btn:focus,
.sort-btn:active,
.sort-btn:hover {
    outline: none;
    border: none;
    cursor: pointer;
}

.table__header .table__summ {
    padding: 0;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

div.sort--up,
div.sort--down {
    background-color: rgb(238, 238, 238);
}

div.sort--up:after,
div.sort--down:after {
    content: '\2193';
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 8px;
    height: 20px;
    position: absolute;
    right: 5px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
    cursor: pointer;
}

div.sort--up:after {
    -webkit-transform: rotate(180deg) translate(0, 50%);
        -ms-transform: rotate(180deg) translate(0, 50%);
            transform: rotate(180deg) translate(0, 50%);
}
